name: Build macOS Application

on:
  push:
    tags: [ 'v*.*.*' ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ macos-13 ]
        arch: [ x64, arm64 ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          architecture: ${{ matrix.arch }}

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          uv venv
          uv sync --no-dev

      - name: Build with Nuitka
        run: |
          source .venv/bin/activate
          python -m nuitka \
            --standalone \
            --macos-create-app-bundle \
            --macos-app-name=WaterSortTool \
            --macos-app-icon=logo.png \
            --macos-signed-app-name=io.github.jeanhwea.wsc \
            --output-folder-name="WaterSortTool" \
            --output-dir=dist_${{ matrix.arch }} \
            --enable-plugin=pyside6 \
            app.py

      - name: Create DMG
        if: false
        env:
          APP_NAME: "WaterSortTool"
          ARCH: "${{ matrix.arch }}"
          DMG_NAME: "${{ format('{0}-{1}-{2}', 'WaterSortTool', matrix.arch, github.ref_name) }}"
        run: |
          ls -alh dist_${ARCH}
          mkdir -p dist_${ARCH}/dmg
          cp -R dist_${ARCH}/${APP_NAME}.app dist_${ARCH}/dmg/
          hdiutil create -volname "${APP_NAME}" -srcfolder dist_${ARCH}/dmg -ov -format UDZO dist_${ARCH}/${DMG_NAME}

      - name: Upload artifact
        env:
          APP_DIST: "${{ format('dist_{0}/{1}.app', matrix.arch, 'WaterSortTool') }}"
          ZIP_NAME: "${{ format('{0}-{1}-{2}.zip', 'WaterSortTool', matrix.arch, github.ref_name) }}"
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ZIP_NAME }}
          path: ${{ env.APP_DIST }}

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/*.zip
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
